<template>
	<div>
		<b-row>
			<b-col cols="7">
				<h5>
					<strong>
						Choose your measurement system
					</strong>
				</h5>
			</b-col>
			<b-col cols="5">
				<div class="dropdown-container">
					<b-button
						id="measurementDropdown"
						class="themed-button"
						block
					>
						{{ currentMeasurementSystem.name }}
						<img id="measurementDropdown" src="@/assets/static/down_arrow_icon.svg">
					</b-button>
					<div class="dropdown-box shadow-sm" :class="isShowDropdown ? 'show-dropdown':''">
						<b-button
							v-for="measurement in measurementSystemList"
							:key="measurement.value"
							class="dropdown-content-button"
							block
							@click="selectMeasurementSystem(measurement)"
						>
							{{ measurement.name }}
						</b-button>
						<b-button
							class="add-more-button"
							block
							@click="showAddMeasurementModal(true)"
						>
							<strong>Add measurement system</strong>
							<img src="@/assets/static/plus_icon.svg">
						</b-button>
					</div>
				</div>
			</b-col>
		</b-row>
		<AddMeasurementSystemModal />
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import * as mutationTypes from '@/store/types'

import AddMeasurementSystemModal from '@/components/modal/AddMeasurementSystemModal'

export default {
	name: 'MeasurementSystem',
	components: {
		AddMeasurementSystemModal
	},
	data () {
		return {
			isShowDropdown: false
		}
	},
	computed: {
		...mapState('measurementSystem', {
			currentMeasurementSystem: state => state.currentMeasurementSystem,
			measurementSystemList: state => state.measurementSystemList.data
		})
	},
	created() {
		this.getMeasurementSystem()
	},
	mounted() {
		document.addEventListener('mouseup', this.dropdownListener)
	},
	methods: {
		...mapActions('measurementSystem', {
			getMeasurementSystem: 'getMeasurementSystem'
		}),
		...mapMutations('measurementSystem', {
			selectMeasurementSystem: mutationTypes.SELECT_MEASUREMENT_SYSTEM
		}),
		...mapMutations('modals', {
			showAddMeasurementModal: mutationTypes.SHOW_ADD_MEASUREMENT_MODAL
		}),
		dropdownListener($event) {
			const targetId = $event.target?.id || ''
			if (targetId === 'measurementDropdown') {
				this.isShowDropdown = !this.isShowDropdown
			} else {
				this.isShowDropdown = false
			}
		}
	}
}
</script>
