<template>
	<div>
		<b-row>
			<b-col class="mt-3" md="6" lg="3">
				<div>
					<strong>
						Total Area
					</strong>
				</div>
				<div class="dropdown-container">
					<b-button
						id="areaUnitDropdown"
						class="themed-button"
						size="sm"
						block
					>
						{{ currentAreaUnit.name }}
						<img id="areaUnitDropdown" src="@/assets/static/down_arrow_icon.svg">
					</b-button>
					<div
						class="dropdown-box shadow-sm"
						:class="isShowDropdown.totalArea ? 'show-dropdown':''"
					>
						<b-button
							v-for="areaUnit in areaUnitList"
							:key="areaUnit.name"
							class="dropdown-content-button"
							size="sm"
							block
							@click="selectAreaUnit(areaUnit)"
						>
							{{ areaUnit.name }}
						</b-button>
					</div>
				</div>
			</b-col>
			<b-col class="mt-3" md="6" lg="3">
				<strong>
					Flight Distance
				</strong>
				<div class="dropdown-container">
					<b-button
						id="distanceUnitDropdown"
						class="themed-button"
						size="sm"
						block
					>
						{{ currentDistanceUnit.name }}
						<img id="distanceUnitDropdown" src="@/assets/static/down_arrow_icon.svg">
					</b-button>
					<div
						class="dropdown-box shadow-sm"
						:class="isShowDropdown.flightDistance ? 'show-dropdown':''"
					>
						<b-button
							v-for="distanceUnit in distanceUnitList"
							:key="distanceUnit.name"
							class="dropdown-content-button"
							size="sm"
							block
							@click="selectDistanceUnit(distanceUnit)"
						>
							{{ distanceUnit.name }}
						</b-button>
					</div>
				</div>
			</b-col>
			<b-col class="mt-3" md="6" lg="3">
				<strong>
					Pesticide Volume
				</strong>
				<div class="dropdown-container">
					<b-button
						id="volumeUnitDropdown"
						class="themed-button"
						size="sm"
						block
					>
						{{ currentVolumeUnit.name }}
						<img id="volumeUnitDropdown" src="@/assets/static/down_arrow_icon.svg">
					</b-button>
					<div
						class="dropdown-box shadow-sm"
						:class="isShowDropdown.pesticideVolume ? 'show-dropdown':''"
					>
						<b-button
							v-for="volumeUnit in volumeUnitList"
							:key="volumeUnit.name"
							class="dropdown-content-button"
							size="sm"
							block
							@click="selectVolumeUnit(volumeUnit)"
						>
							{{ volumeUnit.name }}
						</b-button>
					</div>
				</div>
			</b-col>
			<b-col class="mt-3" md="6" lg="3">
				<strong>
					Speed
				</strong>
				<div class="dropdown-container">
					<b-button
						id="speedUnitDropdown"
						class="themed-button"
						size="sm"
						block
					>
						{{ currentSpeedUnit.name }}
						<img id="speedUnitDropdown" src="@/assets/static/down_arrow_icon.svg">
					</b-button>
					<div
						class="dropdown-box shadow-sm"
						:class="isShowDropdown.speed ? 'show-dropdown':''"
					>
						<b-button
							v-for="speedUnit in speedUnitList"
							:key="speedUnit.name"
							class="dropdown-content-button"
							size="sm"
							block
							@click="selectSpeedUnit(speedUnit)"
						>
							{{ speedUnit.name }}
						</b-button>
					</div>
				</div>
			</b-col>
		</b-row>
	</div>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import * as mutationsTypes from '@/store/types'

export default {
	name: 'PropertyUnitList',
	data() {
		return {
			isShowDropdown: {
				totalArea: false,
				flightDistance: false,
				pesticideVolume: false,
				speed: false
			}
		}
	},
	computed: {
		...mapState('measurementSystem', {
			currentMeasurementSystem: state => state.currentMeasurementSystem
		}),
		...mapState('areaUnit', {
			currentAreaUnit: state => state.currentAreaUnit,
			areaUnitList: state => state.areaUnitList.data
		}),
		...mapState('distanceUnit', {
			currentDistanceUnit: state => state.currentDistanceUnit,
			distanceUnitList: state => state.distanceUnitList.data
		}),
		...mapState('volumeUnit', {
			currentVolumeUnit: state => state.currentVolumeUnit,
			volumeUnitList: state => state.volumeUnitList.data
		}),
		...mapState('speedUnit', {
			currentSpeedUnit: state => state.currentSpeedUnit,
			speedUnitList: state => state.speedUnitList.data
		})
	},
	watch: {
		currentMeasurementSystem() {
			this.setDefaultArea()
			this.setDefaultDistance()
			this.setDefaultVolume()
			this.setDefaultSpeed()
		}
	},
	created() {
		this.getAreaUnit()
		this.getDistanceUnit()
		this.getVolumeUnit()
		this.getSpeedUnit()
	},
	mounted() {
		document.addEventListener('mouseup', this.dropdownListener)
	},
	methods: {
		...mapActions({
			getAreaUnit: 'areaUnit/getAreaUnit',
			setDefaultArea: 'areaUnit/setDefaultArea',
			getDistanceUnit: 'distanceUnit/getDistanceUnit',
			setDefaultDistance: 'distanceUnit/setDefaultDistance',
			getVolumeUnit: 'volumeUnit/getVolumeUnit',
			setDefaultVolume: 'volumeUnit/setDefaultVolume',
			getSpeedUnit: 'speedUnit/getSpeedUnit',
			setDefaultSpeed: 'speedUnit/setDefaultSpeed'
		}),
		...mapMutations({
			selectAreaUnit: `areaUnit/${mutationsTypes.SELECT_AREA_UNIT}`,
			selectDistanceUnit: `distanceUnit/${mutationsTypes.SELECT_DISTANCE_UNIT}`,
			selectVolumeUnit: `volumeUnit/${mutationsTypes.SELECT_VOLUME_UNIT}`,
			selectSpeedUnit: `speedUnit/${mutationsTypes.SELECT_SPEED_UNIT}`
		}),
		dropdownListener($event) {
			const targetId = $event.target?.id || ''
			switch (targetId) {
			case 'areaUnitDropdown': {
				this.isShowDropdown = {
					totalArea: !this.isShowDropdown.totalArea,
					flightDistance: false,
					pesticideVolume: false,
					speed: false
				}
				break
			}
			case 'distanceUnitDropdown': {
				this.isShowDropdown = {
					totalArea: false,
					flightDistance: !this.isShowDropdown.flightDistance,
					pesticideVolume: false,
					speed: false
				}
				break
			}
			case 'volumeUnitDropdown': {
				this.isShowDropdown = {
					totalArea: false,
					flightDistance: false,
					pesticideVolume: !this.isShowDropdown.pesticideVolume,
					speed: false
				}
				break
			}
			case 'speedUnitDropdown': {
				this.isShowDropdown = {
					totalArea: false,
					flightDistance: false,
					pesticideVolume: false,
					speed: !this.isShowDropdown.speed
				}
				break
			}
			default: {
				this.isShowDropdown = {
					totalArea: false,
					flightDistance: false,
					pesticideVolume: false,
					speed: false
				}
				break
			}
			}
		}
	}
}
</script>
