<template>
	<div class="task-card shadow">
		<b-row>
			<b-col cols="12">
				<h4>
					<strong>Task 01</strong>
				</h4>
			</b-col>
			<b-col id="title" cols="8">
				Total Area
			</b-col>
			<b-col id="value" cols="4">
				{{ area }} {{ currentAreaUnit.name }}
			</b-col>
			<b-col id="title" cols="8">
				Flight Distance
			</b-col>
			<b-col id="value" cols="4">
				{{ distance }} {{ currentDistanceUnit.name }}
			</b-col>
			<b-col id="title" cols="8">
				Pesticide Volume
			</b-col>
			<b-col id="value" cols="4">
				{{ volume }} {{ currentVolumeUnit.name }}
			</b-col>
			<b-col id="title" cols="8">
				Speed
			</b-col>
			<b-col id="value" cols="4">
				{{ speed }} {{ currentSpeedUnit.name }}
			</b-col>
		</b-row>
	</div>
</template>

<script>
import { mapState } from 'vuex'

export default {
	props: {
		task: {
			type: Object,
			default: () => {}
		}
	},
	data() {
		return {
			area: 200,
			distance: 200,
			volume: 200,
			speed: 200
		}
	},
	computed: {
		...mapState({
			currentAreaUnit: state => state.areaUnit.currentAreaUnit,
			currentDistanceUnit: state => state.distanceUnit.currentDistanceUnit,
			currentVolumeUnit: state => state.volumeUnit.currentVolumeUnit,
			currentSpeedUnit: state => state.speedUnit.currentSpeedUnit
		})
	},
	watch: {
		currentAreaUnit(newValue, oldValue) {
			this.recalculateDistance(newValue, oldValue, 'area')
		},
		currentDistanceUnit(newValue, oldValue) {
			this.recalculateDistance(newValue, oldValue, 'distance')
		},
		currentVolumeUnit(newValue, oldValue) {
			this.recalculateDistance(newValue, oldValue, 'volume')
		},
		currentSpeedUnit(newValue, oldValue) {
			this.recalculateDistance(newValue, oldValue, 'speed')
		}
	},
	methods: {
		recalculateDistance(newUnit, oldUnit, type) {
			if (oldUnit.name) {
				const oldUnitMultiplier = oldUnit.multiplier
				const newUnitMultiplier = newUnit.multiplier
				switch (type) {
				case 'area': {
					const meter = this.area * oldUnitMultiplier
					this.area = meter / newUnitMultiplier
					break
				}
				case 'distance': {
					const meter = this.distance * oldUnitMultiplier
					this.distance = meter / newUnitMultiplier
					break
				}
				case 'volume': {
					const meter = this.volume * oldUnitMultiplier
					this.volume = meter / newUnitMultiplier
					break
				}
				case 'speed': {
					const meter = this.speed * oldUnitMultiplier
					this.speed = meter / newUnitMultiplier
					break
				}
				}
			}
		}
	}
}
</script>
