@import './color';

.themed-button {
	background-color: $theme-color;
	border: none;
	border-radius: 2px;
	color: white;
	margin-top: 0px !important;

	&:active {
		background-color: $theme-color-active !important;
		box-shadow: none !important;
	}

	&:focus {
		background-color: $theme-color-active !important;
		box-shadow: none !important;
	}

	&:hover {
		background-color: $theme-color-hover !important;
	}
}

.add-more-button {
	background-color: white;
	border: none;
	border-radius: none;
	color: $theme-color;
	margin-top: 0px !important;

	&:hover {
		background-color: $grey-white;
		color: $theme-color-hover;
	}

	&:active {
		background-color: $grey-white-dark !important;
		color: $theme-color-active !important;
		box-shadow: none !important;
	}

	&:focus {
		background-color: $grey-white-dark !important;
		color: $theme-color-active !important;
		box-shadow: none !important;
	}
}

.transparent-button {
	background-color: transparent;
	border: none;
	border-radius: 35px;
	color: $font-color;

	&:hover {
		background-color: $grey-white;
		color: $font-color;
	}

	&:active {
		background-color: $grey-white-dark !important;
		color: $font-color !important;
		box-shadow: none !important;
	}

	&:focus {
		background-color: $grey-white-dark !important;
		color: $font-color !important;
		box-shadow: none !important;
	}
}
