@import './color';

.task-card {
	position: relative;
	background-color: white;
	border-radius: 10px;
	width: 100%;
	height: fit-content;
	padding: 20px;
	color: $font-color;
	transition: all .2s;

	#title {
		text-align: start;
		margin-top: 7px;
	}

	#value {
		text-align: end;
		margin-top: 7px;
	}
	
	.edit-icon {
		position: absolute;
		width: 100px;
		height: 100px;
		opacity: 0%;
		transition: opacity .2s;
	}

	&:hover {
		background-color: $grey-white;
		transform: scale(1.05);

		.edit-icon {
			opacity: 25%;
		}
	}
}
