@import './color';

.dropdown-container {
	position: relative;
	width: 100%;
	max-height: 300px;
	background-color: white;

	.dropdown-box {
		position: absolute;
		width: 100%;
		max-height: 0px;
		overflow: scroll;
		background-color: white;
		border: 1px solid rgba($color: #EDEDED, $alpha: 1);
		transition: max-height .2s;
		visibility: hidden;
		z-index: 1000;

		&.show-dropdown {
			max-height: 250px;
			visibility: visible;
		}
	}

	.dropdown-content-button {
		background-color: white;
		border-radius: 0px;
		border: none;
		color: $font-color;
		margin-top: 0px !important;

		&:active {
			background-color: $grey-white-dark !important;
			color: $font-color !important;
			box-shadow: none !important;
		}

		&:focus {
			background-color: $grey-white-dark !important;
			color: $font-color !important;
			box-shadow: none !important;
		}

		&:hover {
			background-color: $grey-white;
		}
	}
}
