@import url('https://fonts.googleapis.com/css2?family=Prompt:wght@300;700&display=swap');
@import './button';
@import './dropdown_container';
@import './card';
@import './modal';
@import './inputbox';

body {
	font-family: 'Prompt';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
