<template>
	<b-modal
		v-model="isModalOpen"
		centered
		hide-footer
		no-close-on-backdrop
	>
		<template #modal-header>
			<div class="modal-header-style">
				<b-row align-v="center">
					<b-col cols="10">
						<h5>
							<strong>
								Add new measurement system
							</strong>
						</h5>
					</b-col>
					<b-col cols="2" align="right">
						<b-button
							class="transparent-button"
							@click="showAddMeasurementModal(false)"
						>
							<strong>X</strong>
						</b-button>
					</b-col>
				</b-row>
			</div>
		</template>
		<div>
			<b-row>
				<b-col cols="12">
					<strong>Measurement System Name</strong>
					<b-input
						v-model="measurementSystemName"
						class="themed-input mt-2"
						autocomplete="off"
					/>
				</b-col>
				<b-col class="mt-3" cols="12">
					<strong>Distance Unit</strong>
				</b-col>
				<b-col sm="6">
					Unit Name
					<b-input
						v-model="distanceUnit.name"
						class="themed-input mt-2"
						autocomplete="off"
					/>
				</b-col>
				<b-col sm="6">
					Equalization (1 km)
					<b-input
						v-model="distanceUnit.multiplier"
						class="themed-input mt-2"
						autocomplete="off"
						type="number"
					/>
				</b-col>
				<b-col class="mt-3" cols="12">
					<strong>Area Unit</strong>
				</b-col>
				<b-col sm="6">
					Unit Name
					<b-input
						v-model="areaUnit.name"
						class="themed-input mt-2"
						autocomplete="off"
					/>
				</b-col>
				<b-col sm="6">
					Equalization (1 sq.km)
					<b-input
						v-model="areaUnit.multiplier"
						class="themed-input mt-2"
						autocomplete="off"
						type="number"
					/>
				</b-col>
				<b-col class="mt-3" cols="12">
					<strong>Volume Unit</strong>
				</b-col>
				<b-col sm="6">
					Unit Name
					<b-input
						v-model="volumeUnit.name"
						class="themed-input mt-2"
						autocomplete="off"
					/>
				</b-col>
				<b-col sm="6">
					Equalization (1 liter)
					<b-input
						v-model="volumeUnit.multiplier"
						class="themed-input mt-2"
						autocomplete="off"
						type="number"
					/>
				</b-col>
				<b-col class="mt-3" cols="12">
					<strong>Speed Unit</strong>
				</b-col>
				<b-col sm="6">
					Unit Name
					<b-input
						v-model="speedUnit.name"
						class="themed-input mt-2"
						autocomplete="off"
					/>
				</b-col>
				<b-col sm="6">
					Equalization (1 km/h)
					<b-input
						v-model="speedUnit.multiplier"
						class="themed-input mt-2"
						autocomplete="off"
						type="number"
					/>
				</b-col>
				<b-col class="mt-3" cols="12" align="right">
					<b-button class="themed-button" block @click="submitForm()">
						Create
					</b-button>
				</b-col>
			</b-row>
		</div>
	</b-modal>
</template>

<script>
import { mapState, mapMutations, mapActions } from 'vuex'
import * as mutationTypes from '@/store/types'
import { validationMixin } from 'vuelidate'
import { required } from 'vuelidate/lib/validators'

export default {
	mixins: [validationMixin],
	data() {
		return {
			measurementSystemName: '',
			areaUnit: {
				name: '',
				multiplier: 0
			},
			distanceUnit: {
				name: '',
				multiplier: 0
			},
			volumeUnit: {
				name: '',
				multiplier: 0
			},
			speedUnit: {
				name: '',
				multiplier: 0
			}
		}
	},
	validations: {
		measurementSystemName: { required },
		areaUnit: {
			name: { required },
			multiplier: { required }
		},
		distanceUnit: {
			name: { required },
			multiplier: { required }
		},
		volumeUnit: {
			name: { required },
			multiplier: { required }
		},
		speedUnit: {
			name: { required },
			multiplier: { required }
		}
	},
	computed: {
		...mapState('modals', {
			isModalOpen: state => state.isAddMeasurementModalOpen
		}),
		...mapState('measurementSystem', {
			isMeasurementCreating: state => state.createMeasurementSystem.isLoading,
			createMeasurementResponse: state => state.createMeasurementSystem.data
		}),
		...mapState('areaUnit', {
			isAreaUnitCreating: state => state.createAreaUnit.isLoading,
			isAreaUnitCreateSuccess: state => state.createAreaUnit.isSuccess,
			areaUnitList: state => state.areaUnitList.data
		}),
		...mapState('distanceUnit', {
			isDistanceUnitCreating: state => state.createDistanceUnit.isLoading,
			isDistanceUnitCreateSuccess: state => state.createDistanceUnit.isSuccess,
			distanceUnitList: state => state.distanceUnitList.data
		}),
		...mapState('volumeUnit', {
			isVolumeUnitCreating: state => state.createVolumeUnit.isLoading,
			isVolumeUnitCreateSuccess: state => state.createVolumeUnit.isSuccess,
			volumeUnitList: state => state.volumeUnitList.data
		}),
		...mapState('speedUnit', {
			isSpeedUnitCreating: state => state.createSpeedUnit.isLoading,
			isSpeedUnitCreateSuccess: state => state.createSpeedUnit.isSuccess,
			speedUnitList: state => state.speedUnitList.data
		}),
		isCreateUnitSuccess() {
			if (
				this.isAreaUnitCreating ||
				this.isDistanceUnitCreating ||
				this.isVolumeUnitCreating ||
				this.isSpeedUnitCreating
			) {
				return false
			}
			return true
		}
	},
	watch: {
		isModalOpen() {
			this.measurementSystemName = ''
			this.areaUnit = {
				name: '',
				multiplier: 0
			}
			this.distanceUnit = {
				name: '',
				multiplier: 0
			}
			this.volumeUnit = {
				name: '',
				multiplier: 0
			}
			this.speedUnit = {
				name: '',
				multiplier: 0
			}
		},
		isMeasurementCreating(newValue) {
			if (!newValue) {
				const measurementId = this.createMeasurementResponse.id
				const areaBody = {
					measurementId,
					name: this.areaUnit.name,
					multiplier: 1 / this.areaUnit.multiplier
				}
				const distanceBody = {
					measurementId,
					name: this.distanceUnit.name,
					multiplier: 1 / this.distanceUnit.multiplier
				}
				const volumeBody = {
					measurementId,
					name: this.volumeUnit.name,
					multiplier: 1 / this.volumeUnit.multiplier
				}
				const speedBody = {
					measurementId,
					name: this.speedUnit.name,
					multiplier: 1 / this.speedUnit.multiplier
				}
				this.postAreaUnit(areaBody)
				this.postDistanceUnit(distanceBody)
				this.postVolumeUnit(volumeBody)
				this.postSpeedUnit(speedBody)
			}
		},
		isCreateUnitSuccess(newValue) {
			if (newValue) {
				this.showAddMeasurementModal(false)
				this.getMeasurementSystem()
			}
		}
	},
	methods: {
		...mapActions({
			getMeasurementSystem: 'measurementSystem/getMeasurementSystem',
			postMeasurementSystem: 'measurementSystem/postMeasurementSystem',
			postAreaUnit: 'areaUnit/postAreaUnit',
			postDistanceUnit: 'distanceUnit/postDistanceUnit',
			postVolumeUnit: 'volumeUnit/postVolumeUnit',
			postSpeedUnit: 'speedUnit/postSpeedUnit'
		}),
		...mapMutations('modals', {
			showAddMeasurementModal: mutationTypes.SHOW_ADD_MEASUREMENT_MODAL
		}),
		submitForm() {
			const isValid = this.validateForm()
			if (isValid) {
				this.postMeasurementSystem({ name: this.measurementSystemName })
			}
		},
		validateForm() {
			const isFormInvalid = this.$v.$invalid
			if (isFormInvalid) {
				alert('Please recheck your form')
				return false
			} else {
				const areaName = this.areaUnit.name
				const areaMultiplier = this.areaUnit.multiplier
				const duplicateAreaUnit = this.areaUnitList.find(area => area.name === areaName)
				if (duplicateAreaUnit) {
					alert('Area Unit is Duplicate')
					return false
				}
				const distanceName = this.distanceUnit.name
				const distanceMultiplier = this.distanceUnit.multiplier
				const duplicateDistanceUnit = this.distanceUnitList.find(distance => distance.name === distanceName)
				if (duplicateDistanceUnit) {
					alert('Distance Unit is Duplicate')
					return false
				}
				const volumeName = this.volumeUnit.name
				const volumeMultiplier = this.volumeUnit.multiplier
				const duplicateVolumeUnit = this.volumeUnitList.find(volume => volume.name === volumeName)
				if (duplicateVolumeUnit) {
					alert('Volume Unit is Duplicate')
					return false
				}
				const speedName = this.speedUnit.name
				const speedMultiplier = this.speedUnit.multiplier
				const duplicateSpeedUnit = this.speedUnitList.find(speed => speed.name === speedName)
				if (duplicateSpeedUnit) {
					alert('Speed Unit is Duplicate')
					return false
				}

				if (
					areaMultiplier === 0 ||
					distanceMultiplier === 0 ||
					volumeMultiplier === 0 ||
					speedMultiplier === 0
				) {
					alert('Equalizer must not equal to zero')
					return false
				}
			}
			return true
		}
	}
}
</script>
