<template>
	<b-container class="mt-5">
		<MeasurementSystem />
		<b-row v-if="measurementSystemList.length">
			<b-col cols="12">
				<PropertyUnitList />
			</b-col>
			<b-col class="mt-5" lg="12">
				<!-- loop all added task list -->
				<TaskCard />
			</b-col>
		</b-row>
	</b-container>
</template>

<script>
import { mapState } from 'vuex'
import MeasurementSystem from '@/components/MeasurementSystem'
import PropertyUnitList from '@/components/PropertyUnitList'
import TaskCard from '@/components/TaskCard'

export default {
	name: 'Home',
	components: {
		MeasurementSystem,
		PropertyUnitList,
		TaskCard
	},
	computed: {
		...mapState('measurementSystem', {
			measurementSystemList: state => state.measurementSystemList.data
		})
	}
}
</script>
